{% extends 'application.html' %}

{% block content %}
    <div class="border rounded shadow-sm p-4">
        <section class="text-center">
            <h3>Página Inicial</h3>
            <small>Sistema de gerenciamento de alunos</small>
        </section>

        <hr>

        <p>
            Um sistema que permite os usuários do sistema cadastrarem alunos
            e visualizarem a foto de perfil por um modal, clicando no nome 
            do aluno.
        </p>
    </div>
{% endblock content %}