<div class="modal d-block" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ aluno.nome }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if aluno.photo %}
          <img src="{{ aluno.photo.url }}" class="img-fluid" alt="Imagem do Aluno">
        {% else %}
          <span><i>Aluno Sem Foto.</i></span>
        {% endif %}
      </div>
    </div>
  </div>
</div>